<!-- Comment Form Start -->
<div class="ht-comment-form-one mb-20">
    <form name="offer" action="#">
        <div class="row">
            <div class="col-12">
                <input type="text" id="name" placeholder="Name">
                <!-- <label for="name">Name</label> -->
            </div>
            <div class="col-12">
                <input type="email" id="email" placeholder="Email">
                <!-- <label for="email">Email</label> -->
            </div>
            <div class="col-12">
                <textarea id="message" placeholder="Message"></textarea>
                <!-- <label for="message">Message</label> -->
            </div>
            <div class="col-12">
                <input type="submit" value="Send">
            </div>
        </div>
    </form>
</div>
<!-- Comment Form End -->