<!-- Footer Top Section Start -->
<div class="ht-footer-top-section-one section pt-100 pb-90" style="background-image: url(./images/bg/busi-footer.jpg)">
    <div class="container">
        <div class="row">

            <!-- Footer Widget Start -->
            <div class="ht-footer-widget-one col-lg-3 col-md-6 col-12 mb-40">

                <!-- Logo -->
                <img class="ht-sticky-logo mb-30" src="./images/svg/mfx-light.svg" alt="Logo">

                <!-- Social -->
                <div class="ht-footer-social-one">
                    <a target="_blank" href="https://www.facebook.com/MortgageFlexSystems">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/MortgageFlexUS">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a target="_blank" href="https://www.pinterest.com/mortgageflex/">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/company/mortgageflex-systems-inc-?trk=biz-companies-cym">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>

                <div class="clear"></div>
                <br>

                <div class="meta pb-20">
                    <!-- <a href="#" class="meta-item author">By Louis Hall</a> -->
                    <span class="meta-item date">© Copyright 2018 MortgageFlex Systems, Inc. All Rights Reserved.</span>
                </div>

            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="ht-footer-widget-one offset-lg-1 col-lg-2 col-md-6 col-12 mb-40">


                <!-- Footer Blog -->
                <div class="ht-footer-blog">
                    <div class="meta pb-20">
                        <!-- <a href="#" class="meta-item author">By Louis Hall</a> -->
                        <span class="meta-item date">Headquarters</span>
                    </div>
                    <h5 class="title">
                        <a href="https://goo.gl/maps/KzGLCu8JErs" target="_blank">25 N Market Street
                            <br>Jacksonville, FL 32202</a>
                        <a class="visible-xs" href="tel:8003263539">(800) 326-3539</a>
                    </h5>
                </div>


            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="ht-footer-widget-one col-lg-2 col-md-6 col-12 mb-40">

                <!-- Title -->
                <!-- <h5 class="widget-title">our services</h5> -->

                <!-- Links -->
                <ul>
                    <li>
                        <a href="mfxone.html">MortgageFlexONE</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="intheknow.html">In The Know</a>
                    </li>
                    <li>
                        <a href="about.html">About Us</a>
                    </li>
                </ul>

            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="ht-footer-widget-one offset-1 col-lg-3 col-md-6 col-12 mb-40">

                <!-- Title -->
                <h5 class="widget-title">subscribe</h5>

                <!-- Newsletter Form -->
                <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post"
                    id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="ht-footer-subscribe-form-one validate"
                    target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL" class="d-none">Subscribe to our mailing list</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email...." required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value="">
                        </div>
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">
                            <i class="fa fa-envelope-open"></i>
                        </button>
                    </div>
                </form>

            </div>
            <!-- Footer Widget End -->

        </div>
    </div>
</div>
<!-- Footer Top Section End -->
