<!-- Footer Top Section Start -->
        <div class="ht-footer-top-section-one section pt-20 pb-10" style="background-image: url(./images/bg/busi-footer.jpg)">
            <div class="container">
                <div class="row">
        
                    <!-- Footer Widget Start -->
                    <div class="ht-footer-widget-one col-lg-3 col-md-6 col-12 ">
        
                        <!-- Logo -->
                            <img class="ht-sticky-logo mb-30" src="./images/svg/mfx-horiz-dark.svg" alt="Logo">
        
                        <!-- Social -->
                        <!-- <div class="ht-footer-social-one">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-pinterest-p"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div> -->        
                        
        
                        
                    </div>
                    <!-- Footer Widget End -->
                    
                    <!-- Footer Widget Start -->
                    <div class="ht-footer-widget-one col-lg-4 col-md-6 col-12 offset-lg-5">
                        <div class="meta pb-20">
                            <!-- <a href="#" class="meta-item author">By Louis Hall</a> -->
                            <span class="meta-item date d-block text-right">© Copyright 2018 MortgageFlex Systems, Inc. All Rights Reserved.</span>
                        </div>
                        
        
                        <!-- Footer Blog -->
                        <!-- <div class="ht-footer-blog">
                            <div class="meta pb-20">
                                <a href="#" class="meta-item author">By Louis Hall</a>
                                <span class="meta-item date">Headquarters</span>
                            </div>
                            <h5 class="title">
                                <a class="no-pointer">25 N Market Street
                                    <br>Jacksonville, FL 32202</a>
                                <a class="visible-xs" href="tel:8003263539">(800) 326-3539</a>
                            </h5>
                        </div> -->
        
        
                    </div>
                    <!-- Footer Widget End -->
        
                    
        
                    <!-- Footer Widget Start -->
                    
                    <!-- Footer Widget End -->
        
                </div>
            </div>
        </div>
        <!-- Footer Top Section End -->