<head>
    {% set site_name = "MortgageFlex" %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{site_name}} - {{page_name}}</title>
    <meta name="description" content="MortgageFlexONE is the answer to all of your lending woes.  Our software uses the same database for Consumer and Mortgage loans - giving you immediate access to existing
    borrower information, when you need it.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!-- Open Graph
    ============================================ -->

    <link rel="canonical" href="https://mortageflex.com/" />
    <meta property="og:site_name" content="{{site_name}}" />
    <meta property="og:title" content="Home" />
    <meta property="og:image" content="https://img.youtube.com/vi/x4ynu5hid3/maxresdefault.jpg" />
    <meta property="og:image" content=".jpg" />
    <meta property="og:description" content="Simplifying mortgage lending in a digital age." />
    <!--<meta property="og:type" content="article" />-->
    <!-- Facebook -->
    <meta property="article:publisher" content="https://www.facebook.com/MortgageFlexSystems" />
    <meta property="article:author" content="{{site_name}}" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@MortgageFlexUS" />
    <meta name="twitter:creator" content="@MortgageFlexUS" />
    <!--<meta name="twitter:description" content=" " />-->

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="./css/icon-font.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="./css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="././css/main.css">

    <!-- Modernizer JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>