<!-- Main Menu One Start -->
<div class="col ">
    <div class="ht-main-menu ht-main-menu-three ht-menu-white ht-sub-menu-white">
        <nav>
            <ul>
                <li class="">
                    <a href="mfxone.html">Solutions</a>
                    <ul class="sub-menu">
                        <li>
                            <a class="page-scroll" href="mfxone.html#overview">MortageFlexOne</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="mfxone.html#consumer">Origination</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="mfxone.html#servicing">Servicing</a>
                        </li>                                                
                    </ul>
                </li>
                <li>
                    <a href="services.html">services</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="support.html">Support</a>
                        </li>
                        <li>
                            <a href="hosting.html">Hosting</a>
                        </li>
                        <li>
                            <a href="implementation.html">Implementation</a>
                        </li>
                        <li>
                            <a href="managed-services.html">Managed Services</a>
                        </li>
                        <li>
                            <a href="consulting.html">Consulting</a>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="intheknow.html">In the Know</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="news.html">News Releases</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <!--<a href="case-studies.html">Case Studies</a>-->
                        </li>
                        <li>
                            <a href="faqs.html">FAQ's</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="about.html">about us</a>
                    <ul class="sub-menu">
                        <li>
                            <a href="team.html">Our Team</a>
                        </li>
                        <li>
                            <a href="awards.html">Awards</a>
                        </li>
                        <li>
                            <a href="partners.html">Partners</a>
                        </li>
                        <li>
                            <a href="events.html">Events</a>
                        </li>
                        <li>
                            <!--<a href="careers.html">Careers</a>-->
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </li>


            </ul>
        </nav>
    </div>
</div>
<!-- Main Menu One End -->