{% macro f01( title, desc, url, btn_txt, image_url, image_alt, order ) %}


<!-- Theme Feature Section Start -->
<div id="section-01" class="ht-theme-feature-section section pt-120 pb-60">
    <div class="container">
        <div class="row align-items-center">

            <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30 {{order}}">
                <img src="{{image_url}}" alt="{{image_alt}}">
            </div>

            <div class="ht-theme-feature-content col-md-6 col-12 mb-30 ">
                <h1>{{title|safe}}</h1>
                <p>{{desc}}</p>
                <a href="{{url}}" class="btn btn-border blue hover-solid uppercase circle">
                    <span>{{btn_txt}}</span>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- Theme Feature Section End -->

{% endmacro %}