<!-- Testimonial Section Start -->
<div class="ht-testimonial-section section pt-120 pb-80">
    <div class="container">
        <div class="row">

            <!-- Section Title Two Start -->
            <div class="ht-section-title-two text-center col-12 mb-20">

                <h2>We're Proud of Our Partners</h2>

            </div>
            <!-- Section Title Two End -->

            <!-- <div class="col-lg-12 col-md-10 col-12 ml-auto mr-auto">
        
                    <div class="ht-testimonial-slider-one">

                        <div class="ht-testimonial-one col-lg-4 col-sm-6">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by inumour,domised words which don't look even slightly believable.</p>
                            <h3>Harry Weber</h3>
                            <h5>CEO, DevItems</h5>
                        </div>

                        <div class="ht-testimonial-one col-lg-4 col-sm-6">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by inumour,domised words which don't look even slightly believable.</p>
                            <h3>Harry Weber</h3>
                            <h5>CEO, DevItems</h5>
                        </div>

                        <div class="ht-testimonial-one col-lg-4 col-sm-6">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                                by inumour,domised words which don't look even slightly believable.</p>
                            <h3>Harry Weber</h3>
                            <h5>CEO, DevItems</h5>
                        </div>

                    </div>

                </div> -->

        </div>
    </div>
</div>
<!-- Testimonial Section End -->