 <!-- Blog Section Start -->
        <div class="ht-blog-section latest section pt-120 pb-200">
            <div class="container">
                <div class="row col-11">

                    <!-- Section Title Three Start -->
                    <div class="ht-section-title-three col-12 mb-80">

                        <h4 class="minicase">providing you with </h4>
                        <h2 class="s-medium capitalize">The Latest In Cloud Mortgaging News</h2>
                        <p>Like to stay up to date on the latest mortaging & real estate practices and latest technologies being utilized in the industry?  We've got you covered with the latest updates that will impact your future decisions.</p>
                    </div>
                    <!-- Section Title Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-4 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Combined with a han model rome Sentence to be con.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-4 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Making this the first true generat on the Internet. It uses</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-4 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Cicero are also reproduced in their exact original to.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                   
                </div>
            </div>
        </div>
        <!-- Blog Section End -->