<!-- Header Section Start -->
<div class="ht-header-section section">

    <!-- Header Bottom Two Start -->
    <div class="ht-header-bottom ht-header-bottom-three ht-header-bottom-fullwidth ht-header-menu-center ht-header-sticky">
        <div class="container-fluid">
            <div class="row">

                <div class="col offset-xl-1 offset-md-0">
                    <a href="index.html" class="ht-logo">
                        <img src="./images/svg/{% if theme_name == 'purple' %}mfx-horiz-all-light.svg{% else %}mfx-horiz-dark.svg{% endif %}" alt="Logo">
                        <img class="ht-sticky-logo" src="./images/svg/{% if theme_name == 'purple' %}mfx-horiz-purple-light.svg{% else %}mfx-horiz-light.svg{% endif %}" alt="Logo">
                    </a>
                </div>

                {% include "app/templates/partials/_menu.njk" %}

                <div class="col">
                    <div class="ht-header-form .ht-header-search-form white mr-30">
                        <form id="demo-2">
                            <input type="search" placeholder="Search">
                        </form>
                    </div>

                </div>

                <div class="ht-mobile-menu ht-mobile-menu-three d-block d-lg-none col"></div>

            </div>
        </div>
    </div>
    <!-- Header Bottom One End -->

</div>
<!-- Header Section End -->