<!-- Client Section Start -->
        <div class="ht-client-section section pt-200 pb-80">
            <div class="container">
                <div class="row">
                    <!-- Section Title Two Start -->
                    <div class="ht-section-title-two col-4 mb-20">

                        <h2 class="title">We're Proud of Our Partners</h2>
                        <p>These are just some of the incredible partners we're working with to improve processes and make the transition to the cloud smooth and efficient.</p>

                         <a href="partners.html" class="btn btn-border blue hover-solid uppercase circle">
                            <span>Browse Our Partner List</span>
                        </a>

                    </div>
                    <div class="ht-client-one-wrap col-8 d-flex flex-wrap">
        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/002.png" alt="Client">
                            
                        </div>
        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/004.png" alt="Client">
                            
                        </div>
        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/019.png" alt="Client">
                            
                        </div>
        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/030.jpg" alt="Client">
                            
                        </div>
        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/021.png" alt="Client">
                            
                        </div>

                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/023.jpg" alt="Client">
                        
                        </div>
                        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/025.jpg" alt="Client">
                        
                        </div>
                        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/013.png" alt="Client">
                        
                        </div>
                        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/031.png" alt="Client">
                        
                        </div>
                        
                        <!-- Client -->
                        <div class="ht-client-image-one mb-30">
                            <img src="./images/partners/cropped/029.png" alt="Client">
                        
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        <!-- Client Section End -->