<!-- Sidebar One Twitter -->
<div class="ht-sidebar-three">
    <h4 class="sidebar-title">Twitter</h4>

    <a class="twitter-timeline" 
    data-tweet-limit="3" data-chrome="noheader nofooter noborders" data-link-color="#ff0000"
    href="https://twitter.com/MortgageFlexUS?ref_src=twsrc%5Etfw">Tweets by MortgageFlexUS</a> 

</div> 
