{% set page_name = "Blog" %}

{% extends "./app/templates/_layout.njk" %}

{% import "app/templates/partials/_section-hero.njk" as hero %}
{% import "app/templates/partials/_section-feature.njk" as feat %}
{% import "app/templates/partials/_section-cta.njk" as cta %}

    {% block content %}

        {% include "app/templates/partials/_section-header.njk" %}

        <!-- Hero Section Start -->
        <div class="ht-hero-section section">

            <!-- Hero One Slider Start -->
            <div class="ht-hero-slider mflex-slider">

                <!-- Single Slide Start -->
                <div class="ht-single-slide mflex-slide small" style="background-image: url(https://d29u17ylf1ylz9.cloudfront.net/hasbuz/assets/images/bg/busi-page-banner.jpg)">

                    <!-- Hero Content One Start -->
                    <div class="ht-hero-content-four container slide">

                        <h2 class="cssanimation sequence flipY title">Case Studies</h2>
                        <br>
                        <!-- <p>Get the consultation and information you need on mortgaging!</p> -->
                        
                    </div>
                    <!-- Hero Content One End -->
                </div>
                <!-- Single Slide End -->
                
            </div>
            <!-- Hero One Slider End -->
            
            
        </div>
        <!-- Hero Section End -->
        
        
        <!-- Blog Section Start -->
        <div class="ht-blog-section section pt-40 pb-70">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-12 col-12 mb-40">
                        <ol class="ht-breadcrumb-two breadcrumbs left">
                            <li><!--<a href="case-studies.html">Case Studies</a>--></li>
                            <li class="active"><a href="case-study-details.html">Case Study Title</a></li>
                        </ol>

                    </div>
                    <div class="col-lg-8 col-12 mb-50">

                        <!-- Blog One Start -->
                        <div class="ht-blog-three-details">
                            
                            <!-- Title -->
                            <h1 class="title">How The borrower experience defines your ability to move forward</h1>
                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Joy Dowling</a>
                                <span class="meta-item date">June 01, 2018</span>
                            </div>
                            <br>
                            

                            <!-- Image -->
                            <div class="image">
                                <img src="http://placehold.it/770x380" alt="Blog">
                            </div>

                            <!-- Content -->
                            <div class="content">


                                <!-- Description -->
                                <div class="desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration some form, by injected humour, or randomised words which don't
                                        look even slightly believable. Ifyouare going to use a passage of Lorem Ipsum, you
                                        need to be sure there isanything embarrassing hidden i the middletext.There are many
                                        variations of passages of Lorem Ipsum available, but the majority hsuffered alteration
                                        in some form, by injected humour, There are many variations of passages of Lorem
                                        Ipsum able, but the majority have suffered alteration in some form. there isn't anything
                                        embarrassing hidden.All the Lorem Ipsum generators on Internet tend to repeat predefined
                                        chunks as necessary, making this the first true generator on the Internet. uses a
                                        dictionary of over 200 Latin words, combined</p>
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                                        making this the first true generator on the Internet. It uses a dictionary o first
                                        true generator on the Internet. It uses a dictionary of over 200 Latin words, combined
                                        with a handful of model </p>

                                    <div class="row mt-50 mb-20">
                                        <div class="col-md-6 col-12 mb-30">
                                            <img src="http://placehold.it/370x285" alt="Blog">
                                        </div>
                                        <div class="col-md-6 col-12 mb-30">
                                            <img src="http://placehold.it/370x285" alt="Blog">
                                        </div>
                                    </div>

                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration some form, by injected humour, or randomised words which don't
                                        look even slightly believable. Ifyouare going to use a passage of Lorem Ipsum, you
                                        need to be sure there isanything embarrassing hidden i the middletext.There are many
                                        variations of passages of Lorem Ipsum available, but the majority hsuffered alteration
                                        in some form, you need to be sure there isanthing embarrassing hidden i the middletext.There
                                        are many variatio</p>
                                </div>

                            </div>

                        </div>
                        <!-- Blog One End -->

                        <div class="ht-blog-author-three">
                            <div class="image">
                                <img src="http://placehold.it/102x102" alt="Author">
                            </div>
                            <div class="content fix">
                                <h5>
                                    <a href="#">Joy Dowling</a>
                                </h5>
                                <span>Administrator</span>
                                <p>On the other hand, we denounce with righteous indignation and dislike men ware so beguiled
                                    and demized by the charms of pleasure of the moment, so blinded by desire, that they
                                    cannot foresee the pain troube that </p>
                            </div>
                        </div>

                        <!-- Comment List Wrap Start -->
                        <div class="ht-comment-list-one-wrap">
                            <h5>COMMENTS</h5>

                            <!-- Comment List Start -->
                            <ul class="ht-comment-list-three">
                                <li>
                                    <!-- Comment -->
                                    <div class="ht-blog-comment-three">
                                        <div class="image">
                                            <img src="http://placehold.it/80x80" alt="comment">
                                        </div>
                                        <div class="content fix">
                                            <h4>Julie Cook</h4>
                                            <div class="fix">
                                                <span class="time">19 JULY 2017, 10:05 PM</span>
                                                <a href="#" class="reply">reply</a>
                                            </div>
                                            <p>On the other hand, we denounce with righteous indignation and dislike men ware
                                                so beguiled and demized by the charms of pleasure of the moment,</p>
                                        </div>
                                    </div>

                                    <ul>
                                        <li>
                                            <!-- Comment -->
                                            <div class="ht-blog-comment-three">
                                                <div class="image">
                                                    <img src="http://placehold.it/80x80" alt="comment">
                                                </div>
                                                <div class="content fix">
                                                    <h4>Maria Graham</h4>
                                                    <div class="fix">
                                                        <span class="time">24 JULY 2017, 10:05 PM</span>
                                                        <a href="#" class="reply">reply</a>
                                                    </div>
                                                    <p>On the other hand, we denounce with righteous indignatand dislike men
                                                        ware so beguil edple</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <!-- Comment -->
                                    <div class="ht-blog-comment-three">
                                        <div class="image">
                                            <img src="http://placehold.it/80x80" alt="comment">
                                        </div>
                                        <div class="content fix">
                                            <h4>Evelyn Little</h4>
                                            <div class="fix">
                                                <span class="time">25 JULY 2017, 10:05 PM</span>
                                                <a href="#" class="reply">reply</a>
                                            </div>
                                            <p>On the other hand, we denounce with righteous indignation and dislike men ware
                                                so beguiled and demized by the charms of pleasure of the moment, </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!-- Comment List End -->

                        </div>
                        <!-- Comment List Wrap End -->

                        <!-- Comment Form Wrap Start -->
                        <div class="ht-comment-form-one-wrap">
                            <h5>LEAVE A COMMENT</h5>

                            <!-- Comment Form Start -->
                            <div class="ht-comment-form-one">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <input type="text" id="name">
                                            <label for="name">Name</label>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <input type="email" id="email">
                                            <label for="email">Email</label>
                                        </div>
                                        <div class="col-12">
                                            <textarea id="message"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" value="submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Comment Form End -->

                        </div>
                        <!-- Comment Form Wrap End -->

                    </div>

                    <div class="col-lg-4 col-12">

                        <div class="ht-sidebar-three-wrap">

                            <!-- Sidebar One Search -->
                            <div class="ht-sidebar-three">
                                <div class="ht-sidebar-three-search">
                                    <form action="#">
                                        <input placeholder="Enter Keywords" type="text">
                                        <button>
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <!-- Sidebar One Category -->
                            <div class="ht-sidebar-three">
                                <h4 class="sidebar-title">categories</h4>
                                <ul class="ht-sidebar-three-link">
                                    <li>
                                        <a href="#">Mortgages
                                            <span>( 02 )</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Lending
                                            <span>( 07 )</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">Borrowing
                                            <span>( 09 )</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">News
                                            <span>( 10 )</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Sidebar One Post -->
                            <div class="ht-sidebar-three">
                                <h4 class="sidebar-title">featured case studies</h4>

                                <div class="ht-sidebar-three-blog">
                                    <a href="case-study-details.html" class="image">
                                        <img src="http://placehold.it/80x80" alt="Blog Post">
                                    </a>
                                    <div class="content fix">
                                        <h5 class="title">
                                            <a href="case-study-details.html">We denounce with Faince are many variations</a>
                                        </h5>
                                        <span>By
                                            <a href="#">Philip James</a>
                                        </span>
                                        <span>25 Jun 2017</span>
                                    </div>
                                </div>

                                <div class="ht-sidebar-three-blog">
                                    <a href="case-study-details.html" class="image">
                                        <img src="http://placehold.it/80x80" alt="Blog Post">
                                    </a>
                                    <div class="content fix">
                                        <h5 class="title">
                                            <a href="case-study-details.html">All the Lorem Ipsum gener ators on the Intern.</a>
                                        </h5>
                                        <span>By
                                            <a href="#">Philip James</a>
                                        </span>
                                        <span>25 Jun 2017</span>
                                    </div>
                                </div>

                                <div class="ht-sidebar-three-blog">
                                    <a href="case-study-details.html" class="image">
                                        <img src="http://placehold.it/80x80" alt="Blog Post">
                                    </a>
                                    <div class="content fix">
                                        <h5 class="title">
                                            <a href="case-study-details.html">It uses a dictionary of over Latin words, combine.</a>
                                        </h5>
                                        <span>By
                                            <a href="#">Philip James</a>
                                        </span>
                                        <span>25 Jun 2017</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Blog Section End -->
        {% include "app/templates/partials/_end.njk" %}
    
{% endblock %}
    