{% set page_name = "Contact" %}

{% extends "./app/templates/_layout.njk" %}

{% import "app/templates/partials/_section-hero.njk" as hero %}
{% import "app/templates/partials/_section-feature.njk" as feat %}
{% import "app/templates/partials/_section-cta.njk" as cta %}

    {% block content %}

        {% include "app/templates/partials/_section-header.njk" %}


        <!-- Hero Section Start -->
        <div class="ht-hero-section section">
        
            <!-- Hero One Slider Start -->
            <div class="ht-hero-slider mflex-slider">
        
                <!-- Single Slide Start -->
                <div class="ht-single-slide mflex-slide small" style="background-image: url(https://d29u17ylf1ylz9.cloudfront.net/hasbuz/assets/images/bg/busi-page-banner.jpg)">
        
                    <!-- Hero Content One Start -->
                    <div class="ht-hero-content-four container slide">
        
                        <h2 class="cssanimation sequence flipY title">Contact</h2>
                        <!-- <ol class="ht-breadcrumb-two breadcrumbs">
                                    <li><a href="team.html">team</a></li>
                                    <li class="active"><a href="team-details.html">Dave Lee</a></li>
                                </ol> -->
                        <br>
                        <!-- <p>Get the consultation and information you need on mortgaging!</p> -->
        
                    </div>
                    <!-- Hero Content One End -->
                </div>
                <!-- Single Slide End -->
        
            </div>
            <!-- Hero One Slider End -->
        
        
        </div>
        <!-- Hero Section End -->

        <!-- Contact Section Start -->
        <div class="ht-contact-section section position-relative pt-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 mb-60">
                        <ol class="ht-breadcrumb-two breadcrumbs left">
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li class="active">
                                <a href="contact.html">Contact</a>
                            </li>
                        </ol>
                    
                    </div>

                    <!-- Contact Info -->
                    <div class=" col-md-6 col-12 mb-40">
                        <div class="ht-contact-info-one ">

                            <h2 class="title">Get In Touch</h2>

                            <p>MortgageFlex has been refining the MortgageFlexONE loan origination system for over 35 years! Using best practices gleaned from 
                                customer feedback and industry requirements, MortgageFlex delivers a system that you can count on when you need it.</p>
                            <p>We have a strategic compliance approach so lenders can focus on their real goal – lending.</p>
                            <p>Our technology is future-proof and ready to meet regulatory compliance demands head on. Find out how you can too with a free product 
                                demonstration.</p>    
                            <ul class="m-0">
                                <li>
                                    <span>Address:</span> 25 N Market Street, Jacksonville, FL 32202</li>
                                <li>
                                    <span>Phone:</span> (904) 356-2490</li>
                                <li>
                                    <span>Email:</span> finance@email.com</li>
                            </ul>

                        </div>
                    </div>

                    <!-- Contact Info -->
                    <div class="col-md-6 col-12 mb-40">

                        <!-- Contact Form -->
                        <!-- Comment Form Wrap Start -->
                        <div class="mfx form">
                            <h5 class="mb-40">Fill the form below, and someone will be in contact soon.</h5>
                        
                            <!-- Comment Form Start -->
                            <div class="ht-comment-form-one mb-20">
                                <form name="offer" action="#">
                                    <div class="row">
                                        <div class="col-12">
                                            <input type="text" id="name" placeholder="Name">
                                            <!-- <label for="name">Name</label> -->
                                        </div>
                                        <div class="col-12">
                                            <input type="email" id="email" placeholder="Email">
                                            <!-- <label for="email">Email</label> -->
                                        </div>
                                        <div class="col-12">
                                            <textarea id="message" placeholder="Message"></textarea>
                                            <!-- <label for="message">Message</label> -->
                                        </div>
                                        <div class="col-12">
                                            <input type="submit" value="Send A Message">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Comment Form End -->
                        </div>

                        <!-- <div class="ht-contact-form-one">

                            <h2 class="title">Contact Us</h2>

                            <form id="contact-form" action="mail.php" method="post">
                                <input type="text" name="name" placeholder="Your Name">
                                <input type="email" name="email" placeholder="Email Address">
                                <textarea name="message" placeholder="Your Message"></textarea>
                                <input type="submit" value="send massage">
                            </form>
                            <p class="form-messege"></p>

                        </div> -->

                    </div>

                    
                </div>
            </div>
            <!-- Map -->
            <div class="ht-contact-map-three position-static col-12 mt-60 p-0">
                <div id="map-three" class="map"></div>
            </div>
        </div>
        <!-- Contact Section End -->
        {% include "app/templates/partials/_end.njk" %}
    
{% endblock %}
    