{% set page_name = "Hosting" %}

{% extends "./app/templates/_layout.njk" %}

{% import "app/templates/partials/_section-hero.njk" as hero %}
{% import "app/templates/partials/_section-feature.njk" as feat %}
{% import "app/templates/partials/_section-cta.njk" as cta %}

    {% block content %}

        {% include "app/templates/partials/_section-header.njk" %}

        <!-- Hero Section Start -->
        <div class="ht-hero-section section">

            <!-- Hero One Slider Start -->
            <div class="ht-hero-slider mflex-slider">

                <!-- Single Slide Start -->
                <div class="ht-single-slide mflex-slide small" style="background-image: url(https://d29u17ylf1ylz9.cloudfront.net/hasbuz/assets/images/bg/busi-page-banner.jpg)">

                    <!-- Hero Content One Start -->
                    <div class="ht-hero-content-four container slide">

                        <h1 class="cssanimation sequence flipY title">Hosting</h1>
                        <!-- <ol class="ht-breadcrumb-two breadcrumbs">
                            <li><a href="team.html">team</a></li>
                            <li class="active"><a href="team-details.html">Dave Lee</a></li>
                        </ol> -->
                        <br>
                        <!-- <p>Get the consultation and information you need on mortgaging!</p> -->

                    </div>
                    <!-- Hero Content One End -->
                </div>
                <!-- Single Slide End -->

            </div>
            <!-- Hero One Slider End -->


        </div>
        <!-- Hero Section End -->


        <!-- Blog Section Start -->
        <div class="ht-blog-section section pt-40 pb-70">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 mb-40">
                        <ol class="ht-breadcrumb-two breadcrumbs left">
                        <li>
                            <a href="services.html">services</a>
                        </li>
                        <li class="active">
                            <a href="hosting.html">hosting</a>
                        </li>
                        </ol>
                    
                    </div>

                    <div class="col-lg-8 col-12 mb-50">

                        <!-- Blog One Start -->
                        <div class="ht-blog-three-details">
                            
                            <!-- Title -->
                            <h2 class="title">MortgageFlex Hosting</h2>
                            <!-- Meta -->
                            <!-- <div class="meta fix">
                                <a href="#" class="meta-item author">By Joy Dowling</a>
                                <span class="meta-item date">June 01, 2018</span>
                            </div> -->
                            <br>
                            

                            <!-- Image -->
                            <div class="image">
                                <img src="http://placehold.it/770x380" alt="Support">
                            </div>

                            <!-- Content -->
                            <div class="content">


                                <!-- Description -->
                                <div class="desc">
                                    <p>Hosting Services helps you achieve your fiscal goals while maintaining the quality and security demanded by the lending industry.  MortgageFlex offers complete Hosting Services in a certified data center, guaranteeing you high-quality, reliable service.  We are a Microsoft Gold Application Development partner and have been SOC 1 certified since 2006.  We have the experience you need to succeed.</p>
                                    <p>Hosted clients have current, compliant system access in a single instance environment minus the ongoing, in-house expense. All environmental changes are managed by MortgageFlex, at the client's direction.</p>
                                    <br>
                                    <p><img src="http://placehold.it/770x380" alt="Microsoft Azure"></p>
                                    <p><h2>Security with Microsoft Azure</h2></p>
                                    <p>We have partnered with Microsoft Azure to create an extremely cost-effective, secure and scalable solution using the latest in cloud technology.  Azure is an open and flexible cloud platform that enables us to quickly build, deploy, and manage applications across a global network of Microsoft-managed datacenters.</p>
                                    <ul>
                                    <li>We use Azure Encryption Keys to encrypt all documents in transit and at rest in storage.  Access to the infrastructure is managed, monitored, and administered by Microsoft operations personnel—24x7x365. </li>
                                    <li>Azure adheres to a rigorous set of security controls that govern operations and support.  Microsoft deploys combinations of preventive, defensive, and reactive controls to help protect against unauthorized developer and/or administrative activity.</li>
                                    <li>Every customer has a test environment that you can control, test and then tell us when to promote to production.  Active Geo-Replication creates a replica database (secondary) in a different region from your primary.</li>
                                    <li>It guarantees that your database will have the necessary data and compute resources to support the application's workload after the recovery. Active Geo-Replication also supports read-only access to the secondary database thus providing additional capacity for the read-only workloads.</li>
                                    <li>Microsoft Azure gives you the ability to scale on demand - you’ll never run out of server capacity since applications are not forced to run off a single server.</li>                                    
                                    <li>Charges for system usage are typically accrued on a per closed loan basis resulting in lower rates than if deployed locally. There’s no capital outlay for hardware since the infrastructure is maintained by MortgageFlex.  This eliminates the need for servers, the requisite climate-controlled areas, external security features, and recurring energy fees.</li>
                                    <li>A common concern for many customers new to the cloud is security and data protection. With Microsoft and its worldwide datacenters, you receive a level of data protection and physical security that far exceeds typical on-premises firewall protection.</li>
                                    <li>Azure offers you peace of mind knowing that your data is getting the same level of protection chosen by Microsoft’s enterprise customers, including many of the world’s largest financial institutions. Microsoft uses global datacenters, providing a reliable, satisfying, and secure experience without the need to invest in costly infrastructure.</li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                        <!-- Blog One End -->

                       

                    </div>

                    <div class="col-lg-4 col-12">

                        <div class="ht-sidebar-three-wrap">
                                                               

                            <!-- Sidebar One Social -->
                            <div class="ht-sidebar-three">
                                <h4 class="sidebar-title">Page Sections</h4>
                                <ul class="ht-sidebar-three-link">
                                    <li>
                                        <a href="#one">
                                            <i class="fa fa-info-circle"></i>
                                            Section One
                                            <!-- <span>Dave's Facebook</span> -->
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#two">
                                            <i class="fa fa-info-circle"></i>
                                            Section Two
                                            <!-- <span>( 07 )</span> -->
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#three">
                                            <i class="fa fa-info-circle"></i>
                                            Section Three
                                            <!-- <span>( 10 )</span> -->
                                        </a>
                                    </li>
                            
                                </ul>
                            </div>
                            <!-- Sidebar One Social -->

                            <!-- Sidebar One Post -->
                            <div class="ht-sidebar-three">
                             {% include "app/templates/partials/_contact-cta.njk" %}    
                             
                            </div>
                            <!-- Sidebar One Post End -->

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Blog Section End -->

        <!-- CTA Section Start -->
        <!--<div class="ht-cta-section section pt-120 pb-120" data-overlay="cyan-blue" data-opacity="8" style="background-image: url(./images/bg/busi-cta.jpg)">
            <div class="container">
                <div class="row">
        
                    
                    <div class="ht-cta-content text-white col-8">
        
                        <h2 class="title">Case Study - ReMax</h2>
        
                        <p>A long-time player in Real Estate, ReMax chose mortage flex systems for their new cloud implementatons.</p>
        
                        <a href="contact.html" class="btn circle hover-solid blue uppercase">
                            <span>contact us</span>
                        </a>
        
                    </div>
                    <div class="ht-cta-content text-white quote col-3 offset-1">
                        <blockquote>Mortgage Flex Ones' workflow has completely changed the way we operate within our teams. It's the perfect
                            tool for advanced mortgaging!</blockquote>
                    </div>
                    
        
                </div>
            </div>
        </div>-->
        <!-- CTA Section End -->
        {% include "app/templates/partials/_end.njk" %}
    
{% endblock %}
    