{% set page_name = "MortgageFlexONE" %}

{% extends "./app/templates/_layout.njk" %}

{% import "app/templates/partials/_section-hero.njk" as hero %}
{% import "app/templates/partials/_section-feature.njk" as feat %}
{% import "app/templates/partials/_section-cta.njk" as cta %}

    {% block content %}

        {% include "app/templates/partials/_section-header.njk" %}

        <!-- Hero Section Start -->
        <div class="ht-hero-section section">

            <!-- Hero One Slider Start -->
            <div class="ht-hero-slider mflex-slider">

                <!-- Single Slide Start -->
                <div class="ht-single-slide mflex-slide medium" style="background-image: url(./video/20860871.mp4)">

                    <!-- Hero Content One Start -->
                    <div class="ht-hero-content-four container slide">

                        <h1 class="cssanimation leDoorCloseLeft sequence">MortgageFlexONE</h1>
                        <p>MortgageFlexONE is an enterprise-level loan origination system that offers the functionality you need regardless of the size of your business.  It is designed to grow with your business.</p>
                        <p>We keep it simple by charging a fee per closed loan and a low monthly technology fee for access to the system. The number of users is unlimited. Your volumes can go up or down without impacting your cost per closed loan. That's it!</p>
                        
                    </div>
                    <!-- Hero Content One End -->
                    <video id="introvid" src="./video/20860871.mp4" ></video>
                </div>
                <!-- Single Slide End -->
                
            </div>
            <!-- Hero One Slider End -->
            
            <!-- <a href="#section-01" class="btn btn-lg hover-solid circle blue uppercase bot-scroll">
                <span><i class="fa fa-chevron-down"></i></span>
            </a> -->
        </div>
        <!-- Hero Section End -->

        <!-- CTA Section Start -->
        <div id="overview" class="ht-cta-section section pt-120 pb-120" data-overlay="cyan-blue" data-opacity="8" style="background-image: url(./images/bg/busi-cta.jpg)">
            <div class="container">
                <div class="row">
        
                    <!-- CTA Content Start -->
                    <div class="ht-cta-content text-white text-center col-12">
        
                        <h2 class="title">More Efficient</h2>
        
                        <p>The MortgageFlexONE Loan Origination System provides a single system of record all mortgage and consumer loan types.  All our portals use the same database as the LOS, giving you all the compliance and security without the pain of complex integration software.  All LOS tools are readily available - real-time origination analysis, pre-qualification, application, image capture, fees, and PPE.</p>
                        <p>Our customers are closing 3 or more loans per user, per month.  This accounts for 200% improvement without hiring additional employees.  </p>
                            
                        <!-- <a href="contact.html" class="btn circle hover-solid blue uppercase">
                            <span><i class="fa fa-caret-right"></i> Watch The Video Now</span>
                        </a> -->
        
                    </div>
                    <!-- CTA Content End -->
        
                </div>
            </div>
        </div>
        <!-- CTA Section End -->
        
        <!-- About Video Section Start -->
        <div id="compliant" class="ht-about-video-section section pt-80 pb-40 bor bottom solid color">
            <div class="container">
                <div class="row">
        
                    <!-- About Video Start -->
                    <div class="ht-about-video-one text-center col-xl-9 col-lg-10 col-12 ml-auto mr-auto pb-80">
        
                        <h2 class="title">Compliant</h2>
                        <p>We constantly check updated loan data with our Product and Pricing Engine. Errors are identified as they happen in real-time.  We match our calculations with a third-party during the preparation of the initial disclosure and closing package. </p>
        
                        <div class="">
                            <img src="images/about/busi-2.jpg" alt="About Business">
                        </div>
        
                    </div>
                    <!-- About Video End -->
        
                </div>
            </div>
        </div>
        <!-- About Video Section End -->

         <!-- CTA Section Start -->
         <div class="ht-cta-section section pt-120 pb-120" data-overlay="cyan-blue" data-opacity="8" style="background-image: url(./images/bg/busi-cta.jpg)">
            <div class="container">
                <div class="row">
        
                    <!-- CTA Content Start -->
                    <div class="ht-cta-content text-white text-center col-12">
        
                        <h2 class="title">Scalable</h2>
        
                        <p>MortgageFlexONE is designed to grow with your business.  The system adapts to your lending needs as your company changes, becoming ever more efficient.  We can scale performance to meet peak needs. If you have a busy month, we can quickly add power to match those needs, then decrease them when you are ready.  No other provider can do that for you.</p>
                        <ul class="mt-20">
                            <li>Compliance Support – Rules-based compliance monitoring prevents improper disclosures and loan movement</li>
                            <li>Workflow – Lender driven workflow automation tools</li>
                            <li>Product &amp; Pricing – embedded PPE, adjustments and eligibility rules</li>
                            <li>Image Management – comprehensive image management; organized content eFolder</li>
                        </ul>
                        
                        
                        <!-- <a href="contact.html" class="btn circle hover-solid blue uppercase">
                            <span><i class="fa fa-caret-right"></i> Watch The Video Now</span>
                        </a> -->
        
                    </div>
                    <!-- CTA Content End -->
        
                </div>
            </div>
        </div>
        <!-- CTA Section End -->
        

        <!-- Theme Feature Section Start -->
        <div id="consumer" class="ht-theme-feature-section section pt-120 pb-90">
            <div class="container">
                <div class="row align-items-center">
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <h2 class="title">Consumer Portal</h2>
                        <p>The Consumer portal is designed to support lenders, so your branding is fully integrated from day one, giving your customers a look and 
                                feel they can trust.  Loan applications and inquiries flow directly to the loan origination system.  Few things are as difficult as 
                                waiting for loan approval, but MortgageFlexONE Consumer gives a borrower confidence that you are working on their loan.  Borrowers can 
                                start an application, stop, save it, return to it later, and check their status as often as they like. We’ve even built in detailed 
                                mortgage calculators to help them make the right decision.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>

                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->

        <!-- Theme Feature Section Start -->
        <div id="tpo" class="ht-theme-feature-section section pt-120 pb-60">
            <div class="container">
                <div class="row align-items-center">
        
                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                    </div>
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <h2 class="title">TPO Portal</h2>
                        <p>The MortgageFlexONE TPO portal makes it faster and easier than ever to work together in real time for unprecedented levels of visibility 
                            and flexibility. Remote employees can price, lock and get an AU recommendation all at once. They can search and locate your latest 
                            products, rates, and data as well as set the necessary conditions and controls. The TPO portal can also be branded with your look and 
                            feel.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->
        
        <!-- Theme Feature Section Start -->
        <div id="branch" class="ht-theme-feature-section section pt-120 pb-90">
            <div class="container">
                <div class="row align-items-center">
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <h2 class="title">Branch Portal</h2>
                        <p>The MortgageFlexOne Branch portal lets anyone at any location input leads, take loan applications, and check status.  The simplified user interface allows any designated branch personnel to start a loan application, assign a loan officer, and get the ball rolling for your customer - with minimal training.  The MortgageFlexONE Branch portal can be branded using your logo along with the look and feel your employees are familiar with.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>
        
                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->

        <!-- CTA Section Start -->
        <!--<div class="ht-cta-section section pt-120 pb-120" data-overlay="cyan-blue" data-opacity="8" style="background-image: url(./images/bg/busi-cta.jpg)">
            <div class="container">
                <div class="row">
        
                    
                    <div class="ht-cta-content text-white col-7">
        
                        <h2 class="title">Case Study - ReMax</h2>
        
                        <p>A long-time player in Real Estate, ReMax chose mortage flex systems for their new cloud implementatons.</p>
        
                        <a href="contact.html" class="btn circle hover-solid blue uppercase">
                            <span>contact us</span>
                        </a>
        
                    </div>
                    <div class="ht-cta-content text-white quote col-5">
                        <blockquote>Mortgage Flex Ones' workflow has completely changed the way we operate within our teams.  It's the perfect tool for advanced mortgaging!</blockquote>
                    </div>
                    
        
                </div>
            </div>
        </div> -->
        <!-- CTA Section End -->

        <!-- Theme Feature Section Start -->
        <div id="servicing" class="ht-theme-feature-section section pt-120 pb-90">
            <div class="container">
                <div class="row align-items-center">

                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                    </div>
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <h2 class="title">Servicing System</h2>
                        <p>The MortgageFlex Servicing Portal extends your customer service support to 24/7.  The portal provides customer friendly self-service support for the most common requests made to your customer service department.  The information is presented in real time and offers convenient access on multiple devices including web browsers, tablets and phones. Customer satisfaction is improved while significantly reducing call volume to customer service.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>
        
                    
        
                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->

        <!-- Theme Feature Section Start -->
        <div id="serv-cons" class="ht-theme-feature-section section pt-120 pb-90">
            <div class="container">
                <div class="row align-items-center">                    
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <h2 class="title">Servicing Consumer Portal</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majorityered alteration in some form,
                            by injected humoudomised words which don't look even slightly bable.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>

                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                    </div>  

                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->

<!-- Theme Feature Section Start -->
<div id="reo" class="ht-theme-feature-section section pt-120 pb-90">
        <div class="container">
            <div class="row align-items-center">

                <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                    <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                </div>
    
                <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                    <h2 class="title">REO System</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majorityered alteration in some form,
                        by injected humoudomised words which don't look even slightly bable.</p>
                    <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                        <span>Get A Quote</span>
                    </a> -->
                </div>
    
                
    
            </div>
        </div>
    </div>
    <!-- Theme Feature Section End -->

        
        

        <!-- Blog Section Start -->
        <div class="ht-blog-section section pt-120 pb-90">
            <div class="container">
                <div class="row">

                    <!-- Section Title Three Start -->
                    <div class="ht-section-title-three text-center col-12 mb-80">

                        <h4>in the know</h4>
                        <h2 class="title">related Info Set information</h2>

                    </div>
                    <!-- Section Title Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Combined with a han model rome Sentence to be con.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Making this the first true generat on the Internet. It uses</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Cicero are also reproduced in their exact original to.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">If you are going to use a passage Lorem Ipsum, you need to.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                </div>
            </div>
        </div>
        <!-- Blog Section End -->
        {% include "app/templates/partials/_end.njk" %}
    
{% endblock %}
    