{% set page_name = "Services" %}

{% extends "./app/templates/_layout.njk" %}

{% import "app/templates/partials/_section-hero.njk" as hero %}
{% import "app/templates/partials/_section-feature.njk" as feat %}
{% import "app/templates/partials/_section-cta.njk" as cta %}

    {% block content %}

        {% include "app/templates/partials/_section-header.njk" %}

        <!-- Hero Section Start -->
        <div class="ht-hero-section section">

            <!-- Hero One Slider Start -->
            <div class="ht-hero-slider mflex-slider">

                <!-- Single Slide Start -->
                <div class="ht-single-slide mflex-slide medium" style="background-image: url(./video/12211810.mp4)">

                    <!-- Hero Content One Start -->
                    <div class="ht-hero-content-four container slide">

                        <h1 class="cssanimation leDoorCloseLeft sequence">Services</h1>
                        
                    </div>
                    <!-- Hero Content One End -->
                    <video id="introvid" src="./video/12211810.mp4" ></video>
                </div>
                <!-- Single Slide End -->
                
            </div>
            <!-- Hero One Slider End -->
            
            <!-- <a href="#section-01" class="btn btn-lg hover-solid circle blue uppercase bot-scroll">
                <span><i class="fa fa-chevron-down"></i></span>
            </a> -->
        </div>
        <!-- Hero Section End -->

        <!-- CTA Section Start -->
        <div class="feature-section section bg-gray pt-90 pb-70 bor bottom solid color">
            <div class="container">
                <div class="row">
                    <div class="section-title text-center col-12 mb-70">
                        <h2 class="title">What We Offer</h2>
                    </div>
        
                    <div class="single-feature col-lg-4 col-md-6 col-12 mb-50">
                        <span class="icon float-left">
                            <i class="icon-profile-male"></i>
                        </span>
                        <div class="content fix">
                            <h4>Experienced Staff</h4>
                            <p>We’re here to help you succeed and our service based approach is second to none. Our implementation staff averages over 10 years of 
                                mortgage and software industry experience.</p>
                        </div>
                    </div>
                    <div class="single-feature col-lg-4 col-md-6 col-12 mb-50">
                        <span class="icon float-left">
                            <i class="icon-bargraph"></i>
                        </span>
                        <div class="content fix">
                            <h4>Smart Systems</h4>
                            <p>Our web hosting option is economical, safe and secure. (We've been SSAE-16 certified since 2006.) We are a Microsoft Gold
                            Partner and use Microsoft Azure as our cloud provider.</p>
                        </div>
                    </div>
                    <div class="single-feature col-lg-4 col-md-6 col-12 mb-50">
                        <span class="icon float-left">
                            <i class="icon-beaker"></i>
                        </span>
                        <div class="content fix">
                            <h4>Improve Efficiencies</h4>
                            <p>MortgageFlex provides implementation services, managed services and web-hosting. Our implementation staff averages over 10
                            years of mortgage and software industry experience.</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <!-- CTA Section End -->
        
        <!-- About Video Section Start -->
        <div id="support" class="ht-about-video-section section pt-80 pb-40 bor bottom solid color">
            <div class="container">
                <div class="row">
        
                    <!-- About Video Start -->
                    <div class="ht-about-video-one text-center col-xl-9 col-lg-10 col-12 ml-auto mr-auto pb-80">
        
                        <h2 class="title">Support</h2>
                        <p>Direct client support is a major part of the MortgageFlex Systems experience. Whether at the beginning stages of an implementation, or 
                            already live, you will receive support from a single request.  Our goal is to acknowledge all requests immediately and then we work with 
                            the customer to prioritize the request and correct the problem.  We provide a LIVE person to talk with - you don't have to wait 24 hours 
                            or so for a callback. We're here to help!</p>
        
                        <div class="">
                            <img src="images/about/busi-2.jpg" alt="About Business">
                        </div>
        
                    </div>
                    <!-- About Video End -->
        
                </div>
            </div>
        </div>
        <!-- About Video Section End -->

        <!-- Theme Feature Section Start -->
        <div id="hosting" class="ht-theme-feature-section section pt-120 pb-90">
            <div class="container">
                <div class="row align-items-center">
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <a href="hosting.html"><h2 class="title">Hosting</h2></a>
                        <p>Hosting Services helps you achieve your fiscal goals while maintaining the quality and security demanded by the lending industry.  
                            MortgageFlex offers complete Hosting Services in a certified data center, guaranteeing you high-quality, reliable service.  
                            We are a Microsoft Gold Application Development partner and have been SOC 1 certified since 2006.  We have the experience you need to 
                            succeed.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>

                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->

        <!-- Theme Feature Section Start -->
        <div id="implementation" id="section-01" class="ht-theme-feature-section section pt-120 pb-60">
            <div class="container">
                <div class="row align-items-center">
        
                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <a href="implementation.html"><img class="full" src="http://via.placeholder.com/600x423" alt="Feature"></a>
                    </div>
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <h2 class="title">Implementation</h2>
                        <p>Our implementation team helps you meet your goals, now and in the future.  An experienced team - Project Manager, Business Analyst, SME, 
                            Trainer - is assigned to each customer for the life of the project and are ready to help guide your implementation to completion.  Our 
                            project managers design a customized approach and add the necessary expertise to your own staff to ensure the entire approach is as 
                            organized as possible.  We’ll review your processes, set up your new system, and focus on your needs throughout the process.  We take the 
                            time to understand your vision for the future from the start.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->
        
        <!-- Theme Feature Section Start -->
        <div id="managed" class="ht-theme-feature-section section pt-120 pb-90">
            <div class="container">
                <div class="row align-items-center">
        
                    <div class="ht-theme-feature-content col-md-6 col-12 mb-30">
                        <a href="managed-services.html"><h2 class="title">Managed Services</h2></a>
                        <p>MortgageFlex offers Managed Administration services so you can focus on what is important to you - originating loans.  MortgageFlex knows 
                            the MortgageFlexONE system best and can maintain it faster and easier than in-house resources.  Managed Services support saves you time 
                            and money while guaranteeing your staff has the most current information, giving you peace of mind and letting you focus on the business 
                            of originating loans.</p>
                        <!-- <a href="contact.html" class="btn btn-border hover-solid uppercase circle">
                            <span>Get A Quote</span>
                        </a> -->
                    </div>
        
                    <div class="ht-theme-feature-image text-center col-md-6 col-12 mb-30">
                        <img class="full" src="http://via.placeholder.com/600x423" alt="Feature">
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Theme Feature Section End -->



        <!-- CTA Section Start -->
        <!-- <div class="ht-cta-section section pt-120 pb-120" data-overlay="cyan-blue" data-opacity="8" style="background-image: url(./images/client/skp.jpg)">
            <div class="container">
                <div class="row">
        
                    
                    <div class="ht-cta-content text-white col-7">
        
                        <h2 class="title">Case Study - Southern Key</h2>
        
                        <p>Though a small Real Estate office, Southern Key decided mortage flex systems was the solution to their immediate need.</p>
        
                        <a href="case-study-details.html" class="btn circle hover-solid blue uppercase">
                            <span>View Case</span>
                        </a>
        
                    </div>
                    <div class="ht-cta-content text-white quote col-5">
                        <blockquote>The system does an amazing job at providing the tools we needed to get ahead!  Couldn't recommend it more.</blockquote>
                    </div>
                    
        
                </div>
            </div>
        </div> -->
        <!-- CTA Section End -->
        

        <!-- Blog Section Start -->
        <div class="ht-blog-section section pt-120 pb-90">
            <div class="container">
                <div class="row">

                    <!-- Section Title Three Start -->
                    <div class="ht-section-title-three text-center col-12 mb-80">

                        <h4>in the know</h4>
                        <h2 class="title">related Info Set information</h2>

                    </div>
                    <!-- Section Title Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Combined with a han model rome Sentence to be con.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Making this the first true generat on the Internet. It uses</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">Cicero are also reproduced in their exact original to.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                    <!-- Blog Three Start -->
                    <div class="ht-blog-three col-lg-3 col-md-6 col-12 mb-50">

                        <!-- Image -->
                        <a href="blog-details.html" class="image">
                            <img src="http://via.placeholder.com/278x210" alt="Blog">
                        </a>

                        <!-- Content -->
                        <div class="content">

                            <!-- Meta -->
                            <div class="meta fix">
                                <a href="#" class="meta-item author">By Kashem Khan</a>
                                <span class="meta-item date">June 01, 2017</span>
                            </div>

                            <!-- Title -->
                            <h4 class="title">
                                <a href="blog-details.html">If you are going to use a passage Lorem Ipsum, you need to.</a>
                            </h4>

                            <!-- Description -->
                            <div class="desc">
                                <p>There are many variations of passages of Lorem Ipsum available, but tjorihave salteration
                                    in some form.</p>
                            </div>

                        </div>

                    </div>
                    <!-- Blog Three End -->

                </div>
            </div>
        </div>
        <!-- Blog Section End -->
        {% include "app/templates/partials/_end.njk" %}
    
{% endblock %}